.TodoItem {
  margin: 20px 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 35px;
  font-size: 18px;
  padding: 10px;
  background-color: rgba(224, 224, 224, 0.87);
  box-shadow: 2px 0px 20px 2px rgba(83, 83, 83, 0.507);
}

.cerrar {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.check {
  position: absolute;
  left: 20px;
  cursor: pointer;
}

.check:hover {
  color: rgb(61, 138, 84);
}

.task {
  margin-left: -10px;
  width: 200px;
}

.CheckedTask {
  background-color: rgb(169, 241, 169);
}

.CheckedTask > .task {
  text-decoration: line-through;
}

.cerrar:hover {
  color: rgb(212, 81, 81);
}
